.dashboard-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.dashboard-header {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin: 10px;
}

.big-font {
    font-size:30px !important;
    font-weight: bold;
}
